<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        {{!-- {{#if newNotifs}} --}}
        <span id="notifCount" class="badge badge-danger badge-counter"></span>
        {{!-- {{/if}} --}}
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Alerts Center
        </h6>
        <input id="userID" type="hidden">
        <div id="notifList"></div>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
</li>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        var formIds = [];
        var oldFormIds = [];

        setInterval(function(){ getNotification(); }, 3000);

        function getNotification() {
            $.get("/getNotification", function(notifs){
                var i, j;
                var count = 0;
                //var forms = document.getElementById('formID');

                
                for(i = 0; i < notifs.length; i++){
                    if(oldFormIds.length == 0){
                        console.log("old form length 0");
                        oldFormIds.push(notifs[i].formId);
                        console.log(oldFormIds.length);
                        i++;
                    }

                    /// 0 < 1
                    for(j = 0; j < oldFormIds.length; j++)
                    {
                        console.log("may laman na kase?");
                        if(notifs[i].formId != oldFormIds[j]){
                            oldFormIds.push(notifs[i].formId);
                            console.log("old form new item");

                            if(notifs[i].seen == true){
                                $('#notifList').append('<a class="dropdown-item d-flex align-items-center" href="/clinic-visit"><div style="height: 40px;"><span class="badge badge-pill badge-danger d-flex align-items-baseline" style="visibility: hidden; background-color: #ffff; color: #ffff; font-size:5px;">.</span></div><div class="mr-3"><div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div></div><div><div class="small text-gray-500">' + notifs[i].date + '</div><span class="font-weight-bold">'+ notifs[i].message + '</span></div></a>');

                            } else {
                                $('#notifList').append('<a class="dropdown-item d-flex align-items-center" href="/clinic-visit"><div style="height: 40px;"><span class="badge badge-pill badge-danger d-flex align-items-baseline" style="color: #e74a3b; font-size:5px;">.</span></div><div class="mr-3"><div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div></div><div><div class="small text-gray-500">' + notifs[i].date + '</div><span class="font-weight-bold">'+ notifs[i].message + '</span></div></a>');
                                count++;  // notififcation count
                            }
                        }
                    }
                    
                    // TO DO: put key value of forms 
                    formIds.push(notifs[i].formId);
                }
                
                $('#userID').val(notifs[notifs.length-1].user); // user key
                
                $('#notifCount').text(count);
                if (count == 0){
                    var notifHide =  $('#notifCount');
                    notifHide.remove();
                } 
            });
        }

        $("#alertsDropdown").click(function(){
            /*
                TO DO:
                -- make sure yung data na nakukuha is tama based from the get notification function
                -- fix removing of count (sorry huhu)
                -- userID is correct na so I jut need yung id nung forms
            */
            var count =  $('#notifCount');
            console.log("count after press");
            console.log(count);
            count.remove();
            
            var userID = $('#userID').val();
            
            console.log(userID);
            console.log("formIds after press... ");
            console.log(formIds);

            //$.ajax({
            //    url: '/updateNotif',
            //    method: 'POST',
            //    data: {
            //        userID: userID,
            //        formIds: values
            //    },
            //    success: function(data) {
            //        console.log("success!");
            //   }
            //});
        });
    });
</script>