<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span id="notifCount" class="badge badge-danger badge-counter">{{count}}</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Alerts Center
        </h6>
        {{#each notification}}
            <a class="dropdown-item d-flex align-items-center" href="/clinic-visit">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">{{formatDate date}}</div>
                    <span class="font-weight-bold">{{message}}</span>
                </div>
            </a>
        {{/each}}
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
</li>
<script>
    document.addEventListener("DOMContentLoaded", () => { 
        let alerts = document.getElementById('alertsDropdown');
        alerts.addEventListener('click', () =>{
            let count = document.getElementById('notifCount');
            count.remove();
        });

    });
</script>

<script>
    $(document).ready(function() {
        
        $("#alertsDropdown").click(function(){
            var seen = true;
            
            // make them display: none
            // to do in front end, when the bell is clicked mag didisappear yung span class showing the count ng notifs niya
            // gawa ajax para ipasa yung variable para uupdate ko sa backend na "seen niya yung notif but i wont delete the notif unless na update niya na yung mismong form ehe"

            $.ajax({
                url: '/updateNotif',
                method: 'POST',
                data: {
                    status: seen
                },
                success: function(data) {
                    //window.location.href = "/clinic-visit";
                }
            });
        });
    });
</script>

