                        <div class="card-body">
                            {{#each clinicVisits}}
                                <!-- Card Header - Accordion -->
                            {{!-- <button class="btn collapsible" type="button" data-toggle="collapse" data-target="content" aria-expanded="false" aria-controls="content"> Date of Purchase: {{formatDate purchaseDate}}</button> --}}
                            <a class="d-block card-header py-3 collapsible" data-toggle="collapse" data-target="content" role="button" aria-expanded="false" aria-controls="content">
